[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Aoptbdtvc"]
	path = Aoptbdtvc
	url = https://github.com/cran/Aoptbdtvc
[submodule "SlicedLHD"]
	path = SlicedLHD
	url = https://github.com/cran/SlicedLHD
[submodule "doofa"]
	path = doofa
	url = https://github.com/cran/doofa
[submodule "extlasso"]
	path = extlasso
	url = https://github.com/cran/extlasso
[submodule "ibd"]
	path = ibd
	url = https://github.com/cran/ibd
[submodule "ispd"]
	path = ispd
	url = https://github.com/cran/ispd
[submodule "mixOofA"]
	path = mixOofA
	url = https://github.com/cran/mixOofA
[submodule "mkssd"]
	path = mkssd
	url = https://github.com/cran/mkssd
[submodule "mxkssd"]
	path = mxkssd
	url = https://github.com/cran/mxkssd
[submodule "nnlasso"]
	path = nnlasso
	url = https://github.com/cran/nnlasso
[submodule "normalizeH"]
	path = normalizeH
	url = https://github.com/cran/normalizeH
[submodule "pbbd"]
	path = pbbd
	url = https://github.com/cran/pbbd
[submodule "pcg"]
	path = pcg
	url = https://github.com/cran/pcg
[submodule "slr"]
	path = slr
	url = https://github.com/cran/slr
